USE [TestProamDb]
GO
/****** Object:  Table [dbo].[FORMATO_MENSAJE]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMATO_MENSAJE](
	[COD_FORMATO] [int] NOT NULL,
	[COD_TIPO] [int] NULL,
	[COD_TIPO_INFORMACION] [int] NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[REMITENTE] [varchar](255) NOT NULL,
	[ASUNTO] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_FORMATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE](
	[COD_MENSAJE] [int] NOT NULL,
	[COD_FORMATO] [int] NULL,
	[PROYECTO] [int] NULL,
	[PRODUCTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_MENSAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[PRODUCTO] [int] NOT NULL,
	[DESCRIPCION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_PROYECTO]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_PROYECTO](
	[PROYECTO] [int] NOT NULL,
	[PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROYECTO] ASC,
	[PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[PROYECTO] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[COD_TIPO] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INFORMACION]    Script Date: 6/08/2024 03:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INFORMACION](
	[COD_TIPO_INFORMACION] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_INFORMACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FORMATO_MENSAJE] ([COD_FORMATO], [COD_TIPO], [COD_TIPO_INFORMACION], [NOMBRE], [REMITENTE], [ASUNTO]) VALUES (1, 1, 1, N'Formato Bienvenida', N'Admin', N'Bienvenida')
INSERT [dbo].[FORMATO_MENSAJE] ([COD_FORMATO], [COD_TIPO], [COD_TIPO_INFORMACION], [NOMBRE], [REMITENTE], [ASUNTO]) VALUES (2, 2, 2, N'Formato Promoción', N'Admin', N'Promoción')
GO
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_FORMATO], [PROYECTO], [PRODUCTO]) VALUES (1, 1, 1, 1)
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_FORMATO], [PROYECTO], [PRODUCTO]) VALUES (2, 1, 1, 2)
INSERT [dbo].[MENSAJE] ([COD_MENSAJE], [COD_FORMATO], [PROYECTO], [PRODUCTO]) VALUES (3, 1, 1, 3)
GO
INSERT [dbo].[PRODUCTO] ([PRODUCTO], [DESCRIPCION]) VALUES (1, N'Premia Clásica')
INSERT [dbo].[PRODUCTO] ([PRODUCTO], [DESCRIPCION]) VALUES (2, N'Premia Oro')
INSERT [dbo].[PRODUCTO] ([PRODUCTO], [DESCRIPCION]) VALUES (3, N'Premia Platinum')
GO
INSERT [dbo].[PRODUCTO_PROYECTO] ([PROYECTO], [PRODUCTO]) VALUES (1, 1)
INSERT [dbo].[PRODUCTO_PROYECTO] ([PROYECTO], [PRODUCTO]) VALUES (1, 2)
INSERT [dbo].[PRODUCTO_PROYECTO] ([PROYECTO], [PRODUCTO]) VALUES (1, 3)
GO
INSERT [dbo].[PROYECTO] ([PROYECTO], [NOMBRE]) VALUES (1, N'Premia')
INSERT [dbo].[PROYECTO] ([PROYECTO], [NOMBRE]) VALUES (2, N'Konmi')
GO
INSERT [dbo].[TIPO] ([COD_TIPO], [NOMBRE]) VALUES (1, N'Texto')
INSERT [dbo].[TIPO] ([COD_TIPO], [NOMBRE]) VALUES (2, N'Email')
GO
INSERT [dbo].[TIPO_INFORMACION] ([COD_TIPO_INFORMACION], [NOMBRE]) VALUES (1, N'Bienvenida')
INSERT [dbo].[TIPO_INFORMACION] ([COD_TIPO_INFORMACION], [NOMBRE]) VALUES (2, N'Promoción')
GO
ALTER TABLE [dbo].[FORMATO_MENSAJE]  WITH NOCHECK ADD FOREIGN KEY([COD_TIPO])
REFERENCES [dbo].[TIPO] ([COD_TIPO])
GO
ALTER TABLE [dbo].[FORMATO_MENSAJE]  WITH NOCHECK ADD FOREIGN KEY([COD_TIPO_INFORMACION])
REFERENCES [dbo].[TIPO_INFORMACION] ([COD_TIPO_INFORMACION])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH NOCHECK ADD FOREIGN KEY([COD_FORMATO])
REFERENCES [dbo].[FORMATO_MENSAJE] ([COD_FORMATO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH NOCHECK ADD FOREIGN KEY([PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTO])
GO
ALTER TABLE [dbo].[MENSAJE]  WITH NOCHECK ADD FOREIGN KEY([PROYECTO])
REFERENCES [dbo].[PROYECTO] ([PROYECTO])
GO
ALTER TABLE [dbo].[PRODUCTO_PROYECTO]  WITH NOCHECK ADD FOREIGN KEY([PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_PROYECTO]  WITH NOCHECK ADD FOREIGN KEY([PROYECTO])
REFERENCES [dbo].[PROYECTO] ([PROYECTO])
GO
